body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-size: 1.125rem;
  font-weight: 300;
}

img {
  max-width: 100%;
  display: block;
}
/*======================
    Typography
========================*/

h1,
h2,
h3 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
  margin-top: 0;
}
h1 {
  font-size: 2rem;
  margin: 0;
}

a {
  color: #1792d2;
}
a:hover,
a:focus {
  color: #143774;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
}

.article-title {
  font-size: 1.5rem;
}

.article-read-more,
.article-info {
  font-size: 0.875rem;
}
.article-read-more {
  color: #1792d2;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
}
.article-read-more:hover,
.article-read-more:focus {
  color: #143774;
  text-decoration: underline;
  font-weight: 700;
}

.article-info {
  margin: 2em 0;
}

/*======================
    Layout
========================*/

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.container-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  padding: 2em 0;
  background: #f8f8f8;
  text-align: center;
  margin-bottom: 3em;
}

footer {
  background: #143774;
  color: white;
  text-align: center;
  padding: 3em 0;
}

/* navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav li {
  margin: 0.5em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page:hover {
  color: #707070;
}

.article-featured {
  border-bottom: #707070 1px solid;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.article-recent {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.article-recent-main {
  order: 2;
}
.article-recent-secondary {
  order: 1;
}

/*--widgets--*/

.sidebar-widget {
  border: 20px solid #efefef;
  margin-bottom: 2em;
  padding: 1em;
}

.widget-title,
.widget-recent-post-title {
  font-size: 1rem;
}

.widget-title {
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.widget-recent-post {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #707070;
  margin-bottom: 1em;
}

.widget-recent-post:last-child {
  border: 0;
  margin: 0;
}

.widget-image {
  order: -1;
}

@media (min-width: 675px) {
  .container-flex {
    flex-direction: row;
    justify-content: space-between;
  }
  main {
    width: 70%;
  }
  aside {
    width: 25%;
    min-width: 200px;
    margin-left: 1em;
  }

  nav ul {
    flex-direction: row;
  }
  nav li {
    margin-left: 2em;
  }

  .current-page {
    border-bottom: 1px solid #707070;
  }

  .article-recent {
    flex-direction: row;
    justify-content: space-between;
  }

  .article-recent-main {
    width: 68%;
  }

  .article-recent-secondary {
    width: 30%;
  }

  .article-image {
    width: 100%;
    min-height: 250px;
    object-fit: cover;
  }
  .article-featured {
    display: flex;
    flex-direction: column;
  }
  .article-info {
    order: -1;
  }
  .article-image {
    order: -2;
  }
}
